*,*::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: medium;
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: center;
}

h1, h2, h3,h4, h5 {
  padding: 5px;
  margin-block-start: 5px;
}

p {
  padding-block-end: 0.5rem;
  margin-block-end: 0.1rem;
}
.cv-container {
  max-width: 900px;
  background: #fdfbfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 20px;
}
@media print {
  .pdf {
    display: none !important;
  }
}

header {
  display: flex;
  align-items: center;
}

header .info {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0 auto;
  margin-inline-end: 1rem;
  font-size: 2em;
  color: #007b5e;
}

header p {
  margin: 1.3rem auto;
  font-size: 1.8em;
}

.soft-skills{display: grid;
  font-weight: 900;
  list-style: none;
  padding: 1rem;
  grid-template-columns: repeat(5,1fr);
}

.side-bar {
  border-right: solid 0.5px #b9b7b7;
  padding-inline-end: 2rem;
}

.containt {
  display: grid;
  grid-template-rows: 0.5fr, 1fr, 1fr ;
  gap: 1rem;
}

h2 {
  font-size: 20px;
  color: #007b5e;
  margin: 0;
}

ul {
  padding-left: 20px;
}

p {
  line-height: 1rem;
}

dt {
  text-decoration: underline;
}

.job,
.education-item {
  margin-bottom: 15px;
}

.pdf {
  width: 4em;
  position: fixed;
  text-align: center;
  bottom: 50px;
  right: 20px;
  z-index: 1;
  transition: all .25s ease-out;
}

.pdf:hover {
  transform: scale(110%);
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* Styles responsifs pour les petits écrans */
@media screen and (max-width: 768px) {
  main {
      display: flex;
      flex-direction: column;
  }

  .side-bar {
      border-right: none;
      margin-bottom: 20px;
  }

  header h1 {
      font-size: 1.8em;
  }

  header p {
      font-size: 1.5em;
  }

  .pdf {
      width: 3.5em;
      bottom: 20px;
      right: 10px;
  }
}

/* Styles responsifs pour les très petits écrans (smartphones) */
@media screen and (max-width: 480px) {
  body {
      font-size: medium;
  }

  .cv-container {
      margin: 10px;
      padding: 10px;
  }

  header h1 {
      font-size: 1.5em;
  }

  header p {
      font-size: 1.2em;
  }

  .pdf {
      width: 3em;
      bottom: 15px;
      right: 5px;
  }

  h2 {
      font-size: 18px;
  }

  ul {
      padding-left: 10px;
  }

  ul li {
      margin-bottom: 6px;
  }

  footer {
      font-size: 12px;
  }
}
